@import "tailwindcss";

body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #3f0632;
}

.navflexbox {
  display: flex;
  justify-items: center;
  align-content: center;
  gap: 40px;
}

.navbutton {
  border-color: blue;
  border-style: inset;
  border-width: 2px;
  border-radius: 5px;
  width: 90px;
  margin: 4px;
	font-weight: bold;
  text-align: center;
}

.navbutton:hover {
  background-color: aliceblue;
  
}

.flexbooks {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.footer {
  background-color: #3f0632;
}